.h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

#productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}
