body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #363636;
  font-family: Arial, sans-serif;
}

.calculator {
  background: rgb(16, 15, 34);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

#display {
  width: 290px;
  height: 40px;
  margin-bottom: 15px;
  text-align: right;
  font-size: 20px;
  padding: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  color: white;
  background: #232222;
  transition: 0.2s;
}

.orange-btn {
  background-color: darkorange;
  color: white;
}

.orange-btn:hover {
  background-color: darkorange;
}

.orange-btn:active {
  transform: scale(0.95);
}


button:hover {
  background: #d4d4d4;
}

button:active {
  transform: scale(0.95);
}

.author {
  margin-top: 50px;
  text-align: center;
  color: #888;
  font-size: 14px;
}